.gallery-wrapper {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.slider {
    position: relative;
    max-width: 1284px;
    height: 856px;
    overflow: hidden;
    white-space: nowrap;
    margin: 25px auto
}

.slider-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    display: inline-block;
    width: 1284px;
    height: 100%;
}

.slide-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%
}

.backArrow, .nextArrow {
    font-size: 25px;
    cursor: pointer;
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .backArrow, .nextArrow {
      display: none;
    }

    .gallery-wrapper {
        display: flex;
        align-items: center;
        width: 95%;
        margin: 0 auto;
    }

    .slide-image {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: initial;
    }
  }

  /* small screens */
  @media only screen and (max-width: 767px) and (min-width: 540px) {
    .backArrow, .nextArrow {
        display: none;
    }

    .gallery-wrapper {
        display: flex;
        align-items: center;
        width: 95%;
        margin: 0 auto;
    }
    
    .slider {
        overflow: auto;
    }
    
    .slide-image {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: initial;
    }
  }

  /* smaller screens */
  @media only screen and (max-width: 540px) and (min-width: 320px) {
    .backArrow, .nextArrow {
        display: none;
    }

    .gallery-wrapper {
        display: flex;
        align-items: center;
        width: 310px;
        margin: 0 5px;
    }

    .slider {
        overflow: auto;
    }

    .slide {
        display: inline-block;
        width: 320px;
        height: fill-available;
        height: -webkit-fill-available;
    }

    .slider-wrapper {
        display: flex;
        flex-direction: column;
    }

    .slide-image {
        width: 310px;
        height: 218px;
        display: inline-table;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: initial;
    }
  }
